#page-header{
    background-image: url(assets/Page-headers/Product-Page.jpg);
    width: 100%;
    height: 40vh;
    background-size: cover;
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,.35);
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 14px;
}
#page-header h2,
#page-header p{
    color: white;
}
#page-header h2{
    font-size: 42px;
}

/* Products Page */
#products-page{
    margin: 40px 60px 70px 60px;
    text-align: center;
    position: relative;
}
#products-page h3{
    margin-top: 60px;
    display: none;
}
.pro{
    width: 20%;
    min-width: 200px;
    padding: 10px 12px;
    border: 1px solid #cce7d0;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0,0,0,0.02);
    transition: 0.2s ease;
    margin: 15px auto;

}
.pro:hover{
    box-shadow: 10px 10px 40px rgba(0,0,0,0.04);
}
.pro img{
    width: 100%;
    border-radius: 20px;
}

.pro .buy-now{
    width: 30px;
    height: 30px;
    line-height: 40px;
    background-color: rgba(0, 0, 0, .03);
    border-radius: 10px;
    border: 2px solid black;
    position: absolute;
    bottom: 15px;
    right: 10px;
}

.pro-container{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding-top: 20px;
    margin: 0 auto;
}

.Search{
    width: 100%;
    padding: 20px;
}
.Search form{
    width: 100%;
    border: 1px solid rgba(82,74,235);
    border-radius: 4px;
    box-shadow: 4px 4px 30px ;
    display: flex;
    align-items: center;
}
input{
    border: none;
    outline: none;
    box-shadow: none;
    width: 100%;
    font-size: 16px;
    font-weight: 600;
    padding: 8px 10px;
}

.search-icon{
    padding-left: 10px;
    font-size: 18px;
}






























#newsletter{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-color: rgb(199, 0, 0);
    height: 80px;
    padding: 20px;
}
#newsletter h4{
    color: white;
}
#newsletter p{
    color: white;
}
#newsletter p span{
    color: orange;
}
#newsletter input{
    height: 3.125rem;
    padding: 0 1.25rem;
    font-size: 14px;
    width: 400px;
    border: 1px solid transparent;
}
#newsletter button,
#contact .form button{
    font-size: 14px;
    font-weight: 600;
    padding: 15px 30px;
    width: 200px;
    color: white;
    background-color: black;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.3s ease;
}
#newsletter .form{
    display: flex;
    width: 45%;
}

footer{
    margin: 30px;
}

footer .column-container{
    display: flex;
    gap: 8rem;
    padding: 0.2rem 2rem;
}
.column{
    display: flex;
    flex-direction: column;
}
.copyright{
    padding-top: 25px;
    text-align: center;
}
footer a{
    text-decoration: none;
}
footer a:hover{
    text-decoration: underline;
}
footer strong{
    padding-right: 4px;
}
.social-logo{
    padding: 5px 5px 0 0;
    font-size: 28px;
    transition: 0.2s ease;
}
.facebook:hover{
    color: blue;
}
.instagram:hover{
    color: rgb(241, 67, 67);
}
.twitter:hover{
    color: rgb(26, 142, 249);
}

/* Medium screen */


@media (max-width:880px){
    .pro-container{
        grid-template-columns: 1fr 1fr 1fr;
        font-size: smaller;
    }
    #products-page{
        margin: 40px auto;
    }
    .pro{
        margin: 10px auto;
        font-size: smaller;
        min-width: 170px;
    }

    #newsletter{
        height: 140px;
    }
    #newsletter .form{
        margin-top: 8px;
        width: 90%;
    }

    footer .column-container{
        margin-top: 10px;
        flex-direction: column;
        gap: 1rem;

    }
    
}

@media (max-width:540px){
    .pro-container{
        grid-template-columns: 1fr 1fr;
        font-size: smaller;
    }
    .pro{
        margin: 10px auto;
        font-size: smaller;
        min-width: 130px;
    }

    .Search form input{
        font-size: smaller;
    }
    .search-icon{
        font-size: 15px;
    }

    #banner,#Feature,#newsletter{
        font-size: 75%;
    }
    #banner button{
        padding: 10px 10px;
    }
    #banner img{
        height: 70px;
        margin-right: 10vw;
        top: 85px;
    }
    #newsletter input{
        height: 100%;
        padding: 0 1rem;
        font-size: 13px;
    }
    #newsletter button{
        width: 100%;
    }
    #newsletter .form{
        display: flex;
        width: 90vw;
        height: 50px;
    }
    footer .column-container{
        padding-left: 0px;
    }

}
@media (max-width:350px){
    #newsletter .form input{
        font-size: 13px;
        padding: 0 0.7rem;
    }
    #newsletter .form button{
        font-size: 12px;
        padding: 10px 20px;
    }
    .pro-container{
        grid-template-columns: 1fr;
    }
    
}

/* Product-detail page */




#page-header.contact-header{
    background-image: url(assets/Page-headers/Contact-page.jpg);
}
#page-header.contact-header .call-icon{
    position: absolute;
    top: 120px;
    left: 30vw;
    font-size: 100px;
    color: green;
}

#contact{
    margin: 40px 30px;
}

#contact .form{
    width: 85%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 20px;
    border: solid 1px black;
    padding: 10px 20px;
}
#contact .form input,
#contact .form textarea{
    border: 1px solid #e1e1e1;
    margin-bottom: 20px;
    width: 90%;
}
#contact .form button{
    background-color: #e1e1e1;
    color: black;
}
#contact p{
    height: 20px;
    display: flex;
}
#contact .icon{
    height: 100%;
    align-items: center;
    padding-top: 2px;
    padding-right: 5px;
    font-size: larger;
}
#contact .contact-info{
    margin: 10px 0 40px 15px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    
}
